body {
    margin: 0px;
    height: auto;
    user-select: none;
}

.main_content .shop {
    position: absolute;
    margin-top: -50px;
    margin-right: 20px;
    right: 0px;
}

.shop i {
    font-size: 25px;
    color: white;
    margin: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.shop i:hover {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
} 

.top_content {
    background-color: orange;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
}

.top_content .my_title{
    font-family: "Roboto";
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    font-size: 40px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 1px;
}

.top_content .navi {
    display: flex;
    justify-content: space-evenly;
}

input[type="button"]{
    width: 100px;
    height: 30px;
    font-weight: bold;
    border-radius: 22px;
    border: 2px solid orange;
    color: orange;
    cursor: pointer;
}

input[type="button"]:hover {
    color: white;
    background-color: orange;
    border: 2px solid white;
    transition: 0.5s;

    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}

.mid_content {
    height: auto;
    width: 100%;
    background-color: whitesmoke;

    -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.top_news_area {
    height: auto;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    /* background-color: red; */
}

.top_news {
    width: 98%;
    height: 600px;
    background-color: gray;
    margin-top: 20px;
    background-image: url("../imgs/top_news.jpg");
    background-size: cover;
}

.top_news:hover {
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.top_news_text {
    color: white;
    font-size: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 4px orange;
}

#top_news_text_2, #top_news_text_3 {
    margin-top: -90px;
}

.top_news_button_area {
    height: 250px;
    /* background-color: red; */
}

.top_news_button {
    width: 100px;
    height: 30px;
    border-radius: 22px;
    border: 2px solid white;
    color: black;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 220px;
}

.news_button {
    width: 100px;
    height: 30px;
    border-radius: 22px;
    border: 2px solid white;
    color: black;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 260px;
}

.top_news_button:hover, .news_button:hover{
    background-color: orange;
    transition: 0.5s;
}

.news_area {
    display: flex;
    width: auto;
    justify-content: center;
}

.news_box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    max-width: 1500px;
}

.news {
    width: 48%;
    height: 300px;
    background-color: gray;
    margin-top: 20px;
}

.news:hover {
    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.bot_content {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: orange;
}

.popup {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex; /*control the popup page off/on*/
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.popup_content {
    width: 400px;
    background: orange;
    padding: 40px;
    border-radius: 5px;
    position: relative;
}

.popup_content .fa-user {
    font-size: 50px;
}

.popup_content .fa-times {
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 3px;
    cursor: pointer;
}

.popup_content .fa-times:hover {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	animation: rotate-center 0.6s ease-in-out both;
}

.popup_content input {
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 12px;
    background: none;
    border-radius: 22px;
    outline: none;
    color: white;
    border: 2px solid white;
    width: 150px;
}

.popup_content input[type="text"]:hover, .popup_content input[type="password"]:hover {
    width: 230px;
    transition: 0.5s;
}

.popup_content input[type="submit"]:hover {
    color: orange;
    background-color: white;
    transition: 0.5s;
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
    cursor: pointer;
}

/*jello*/
@-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
}
@keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
              transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
              transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
}

/*shadow in*/
@-webkit-keyframes shadow-inset-center {
    0% {
      -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
              box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    }
}
  @keyframes shadow-inset-center {
    0% {
      -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
              box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    }
}

/*shadow out*/
@-webkit-keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.35);
    }
}
@keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 50px 0px rgba(0, 0, 0, 0.35);
    }
}

/*rotate right*/
@-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
}
  