body {
    margin: 0px;
    background-image: url(../imgs/pizza_4_slices.jpg);
    background-size: cover;
    user-select: none;
}

.main_content .shop {
    position: absolute;
    margin-top: -50px;
    margin-right: 20px;
    right: 0px;
}

.shop i {
    font-size: 25px;
    color: white;
    margin: 10px;
}

a {
    text-decoration: none;
}

.shop i:hover {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
} 

.top_content {
    background-color: orange;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
}

.top_content .my_title{
    font-family: "Roboto";
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
    font-size: 40px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-top: 5px;
    margin-bottom: 1px;
}

.top_content .navi {
    display: flex;
    justify-content: space-evenly;
}

input[type="button"] {
    width: 100px;
    height: 30px;
    font-weight: bold;
    border-radius: 22px;
    border: 2px solid orange;
    color: orange;
    cursor: pointer;
}

input[type="button"]:hover {
    color: white;
    background-color: orange;
    border: 2px solid white;
    transition: 0.5s;

    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
}

.mid_content {
    -webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.mid_content .login {
    Position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: orange;
    width: 300px;
    padding: 50px;
    text-align: center;
    color: white;
    border-radius: 5px;

    -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.login i {
  font-size: 50px;
}

.login input {
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 12px;
    background: none;
    border-radius: 22px;
    outline: none;
    color: white;
    border: 2px solid white;
    width: 150px;
}

.login input[type="text"]:hover, .login input[type="password"]:hover {
    width: 230px;
    transition: 0.5s;
}

.login input[type="submit"] {
    width: 100px;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    color: orange;
    background-color: white;
    transition: 0.5s;
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
    cursor: pointer;
}

.bot_content {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: orange;
}